{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

<body>
  <h2 style="text-align:center" >Our Team</h2>
  <div class="TeamRow">
    <div class="TeamColumn">
      <div class="TeamCard">
        <img src="static/images/dom.png" alt="Dom Ortiz" style="width: 100%;">
        <div class="TeamContainer">
          <h2>Dominic Ortiz</h2>
          <p class="TeamTitle">Front-end Development</p>
          <p>I am a 4/4 Software Engineering Major and Economics Minor <br> 
             I grew up in Souther California and came to New Jersey my freshman year in 2016. <br>
             I am really into sports and spend my spare time hanging out with my 1 year old bearded dragon <br>
             I am also a brother of Chi Phi Fraternity and would love to hang out sometime!</p>
          <p>dortiz@stevens.edu</p>
        </div>
      </div>
    </div>

    <div class="TeamColumn">
      <div class="TeamCard">
        <img src="static/images/ruthy.png" alt="Ruthy" style="width:100%">
        <div class="TeamContainer">
          <h2>Ruthy Levi</h2>
          <p class="TeamTitle">Front-end Developer</p>
          <p>I am a 5/5 Software Engineering student interested in learning how things work. <br><br> For my last
            internship, I
            was a Software Developer at TD Ameritrade where I collaborated with another intern to fetch data from an
            API, leveraging React.js and Node.js in order to display the data on a GUI. <br><br> In my free time, I like
            to hang
            out with friends, go cycling, and pet whatever dogs I can find. <br><br> Something you may not know about me
            is that
            I've been trained in dance - including Ballet, Jazz, Lyrical, Modern, Gymnastics, Hip-Hop, etc., since I was
            4 years old. I look forward to being in the Technical Advisory Program at EY upon graduation!
          </p>
          <p>rlevi@stevens.edu</p>
        </div>
      </div>
    </div>

    <div class="TeamColumn">
      <div class="TeamCard">
        <img src="static/images/kenny.png" alt="John" style="width:100%">
        <div class="TeamContainer">
          <h2>Kenneth Sketlon</h2>
          <p class="TeamTitle">Back-end Developer</p>
          <p>GOAT</p>
          <p>kskelton@stevens.edu</p>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}

</html>