{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<body>
  <script>
    var movies = ["Altered Carbon", "Parks and Recreation", "Tiger King", "You", "Black Mirror", "The Withcer",
                   "Attack on Titan", "Our Planet", "Glee"];

    function randomMovie() {
      randomItem = movies[Math.floor(Math.random() * movies.length)];
      document.getElementById("printMovie").innerHTML = randomItem;
    }
  </script>
  <div class="container">
    <div class="page-header" style="padding-top: 15px;">
      <h1>Welcome to QuaranSite!</h1>
    </div>
    <p> With the current COVID-19 pandemic and quarantine conditions that many find themselves in, it
      is important to unwind and keep yourself busy while staying safe and healthy.
      <br><br>
      Because of this, we have designed this site to help you pass the time!
      <br><br>
      Take our Netflix quiz to get some Netflix recommendations that you can watch today. Our quick and easy quiz will
      analyze your preferences and provide you with a show that we think you will enjoy.<br><br>Not only that, but we
      also created a script that grabs your top 5 artists from Spotify, and uses Spotify's recommendation API to create
      a new playlist for you to listen to!
    </p>
 

    <div class="tech-slideshow" style="padding-top: 15px;">
      <div class="mover-1" style="padding-top: 15px;"></div>
     </div>
</div>

  <div class="container">
    <div class="page-header" style="padding-top: 15px;">
      <h3>Don't want to take the Quiz?</h3>
    </div>  
    <p>Click the button below to generate a random Netflix show that you could watch!</p>
    <button type="button" class="btn btn-secondary btn-lg" onclick="randomMovie()">Let's Binge!</button>
    <p id="printMovie" style="background-color: #E50914;"></p>
  </div>
  </div>
  <div class="footer">
    <h2>Stay Home, Save Lives</h2>
  </div>

</body>
{% endblock %}

</html>