{% extends "base.html" %}
{% block title %}Meet The Team{% endblock %}
{% block content %}

<body>

  <h2 style="text-align:center">Our Team</h2>
  <div class="TeamRow">
    <div class="TeamColumn">
      <div class="TeamCard">
        <img src="static/images/dom.png" alt="Dom Ortiz" style="width: 100%;">
        <div class="TeamContainer">
          <h2>Dominic Ortiz</h2>
          <p class="TeamTitle">Front-end Development</p>
          <p>Bio ITW</p>
          <p>dortiz@stevens.edu</p>
        </div>
      </div>
    </div>

    <div class="TeamColumn">
      <div class="TeamCard">
        <img src="static/images/ruthy.png" alt="Ruthy" style="width:100%">
        <div class="TeamContainer">
          <h2>Ruthy Levi</h2>
          <p class="TeamTitle">Front-end Developer</p>
          <p>I am a 5/5 Software Engineering student interested in learning how things work. <br><br> For my last
            internship, I
            was a Software Developer at TD Ameritrade where I collaborated with another intern to fetch data from an
            API, leveraging React.js and Node.js in order to display the data on a GUI. <br><br> In my free time, I like
            to hang
            out with friends, go cycling, and pet whatever dogs I can find. <br><br> Something you may not know about me
            is that
            I've been trained in dance - including Ballet, Jazz, Lyrical, Modern, Gymnastics, Hip-Hop, etc., since I was
            4 years old. I look forward to being in the Technical Advisory Program at EY upon graduation!
          </p>
          <p>rlevi@stevens.edu</p>
        </div>
      </div>
    </div>

    <div class="TeamColumn">
      <div class="TeamCard">
        <img src="static/images/kenny.png" alt="John" style="width:100%">
        <div class="TeamContainer">
          <h2>Kenneth Skelton</h2>
          <p class="TeamTitle">Back-end Developer</p>
          <p>I am a 2/4 Software Engineering student who wants to make a difference<br><br>
          I enjoy rock music, games, the great outdoors, and being with my friends. <br><br>
          Right now I am focused on my schoolwork in order to aquire the skills that will allow me to help 
          create a better and brighter future. Software empowers us to apply more abstract skills like math and algorthmic thinking
          to improve the efficiency of real systems, and that is why it's my passion.
          </p>
          <p>kskelto1@stevens.edu</p>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}

</html>