{% extends "base.html" %}
{% block title %}Playlist Generator{% endblock %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Playlist Generator</h1>
  </div>
  <p>Need some more music to listen to? We gotchu. </p>
  <p>This program, once you authenticate and authorize this application to access your Spotify account, generates a new
    playlist for you to listen to.</p>
    <p>We used Spotipy to create this, which is a Python library for the Spotify Web API. Our script grabs your top 5
      Artists, and then uses Spotify's recommendation algorithm to create a playlist for you!</p>
    <p>After clicking the button below and you see that the page reloads, check your Spotify account for a new playlist, and you can do this as many times as you want. 👁️👅👁️
  </p>
</div>
<form action="/playlistgenerator" method="POST" role="form" class="form-horizontal">
  <input type="submit" class="form-control" value="Click here!">
</form>
{% endblock %}