<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>

  <div class="banner">
    <img src="images/banner.png" alt="QuaranFlix Banner" style="max-width: 100%; height: auto; width: auto; margin: auto; display: block;"></img>
  </div>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="MeetTheTeam">Meet the Team</a>
    <a href="quiz">Take the Quiz</a>
    <a href="contact" class="right">Contact</a>
  </div>


</body>

</html>